@import './index.css';

.banner-photo {
    width: 100%;
    height: 92vh;
    object-fit: cover;
    object-position: center;
    background-color: rgb(99, 96, 90);
    text-align: center;
    align-content: center;
    align-items: center;
}

.banner-desc {
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;

    >div:not(:last-child) {
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: 2em;
        margin-top: 2em;
    }
}

.banner-desc-photo {
    height: 420px;
    width: 380px;
    border: 1px solid black;
    background-color: antiquewhite;
    border-radius: 15px;
}

.banner-desc-info {
    width: 340px;

    >p {
        color: black;
        font-size: 1.2em;
        line-height: 1.6;
    }

    >* {
        margin-bottom: .5em;
        line-height: 1.2;
    }
}

.banner-cartoon {
    display: flex;
    flex-direction: row;
    /* justify-content: center;*/
    align-items: center;
    background-color: #666666;
    width: 100%;
    height: 500px;
    gap: 2em;
}

.banner-cartoon-photo {
    height: 100%;
    width: 50vw;
    border: 1px solid black;
    background-color: rgb(207, 194, 176);
    border-radius: 15px;
}

.icon-text {
    text-align: right;
    align-self: center;
    padding-right: 10em;
}

.icon-text img {
    margin-right: 0.5em;
}


.margin-up-down {
    width: 50vw;
    display: flex;
    flex-direction: column;
    >* {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

@media (max-width: 768px) {
    .banner-cartoon-photo {
        display: none;
    }

    .margin-up-down {
        width: 100vw;
    }
    .icon-text{
        padding: 0;
    }
}